* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.body {
    width: 100%;
    margin:0 auto;
    padding: 0px;
    overflow: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;

}

.header-box {
    width: 100vw;
    height: 100vh;
    grid-column-start: 1;
    grid-column-end: 4;
    background-image: url("images/mountain_range.jpg");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;

}
.grid-item {
    padding-left: 10px;
}

.navbar {
}

.menu-list {
    padding-left: 850px;
    grid-column-start: 2;
    grid-column-end: 4;
}

.header {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    padding-top: 3in;
    padding-bottom: 3in;
    
}

.about-patrick {
    padding-top: 50px;
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    background-color: #191919;
}

.about-patrick-info {
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}
.about-title {
    color: white;
}

.grid-item5 {
    grid-column-start: 2;
    grid-column-end: 4;
}
.projects {
    display: grid;
    background-color: brown;
    justify-items: center;
    grid-template-columns: auto auto auto;
}

.typing-game {
    grid-column-start: 2;
    grid-column-end: 3;
}

.timesheet-update {
    grid-column-start: 3;
    grid-column-end: 4;
}

.this-site {
    grid-column-start: 4;
    grid-column-end: 5;
}
.table {
    display: table;
    margin: 0 auto;
}


.horizontal_list  li {
    display: inline;
    justify-self: end;

}
